div{
	background-color: lightblue;
	display: flex;
	align-items: center;
	margin: 15px;
	justify-content: space-between;
}
ul{
	display: flex;
	flex-direction: row;
	list-style: none;

}
li{
	width: 200px
}
a{
	text-decoration: none;

}
form{
	padding: 15px;
}