body{
	font-family: 'Montserrat', sans-serif;
	background-color: lightblue;
	margin:15 px;
	border: 1px solid black;
}
form{
  float: left;
  padding: 0px;
  color: green;
  text-decoration: none;
  font-size: 17px;
  width: 100%; 
  text-align: center;

}
.navbar{
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a{
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33%; 
  text-align: center; 
}
#pets{
	width: 150px
}
#friend{
	background-color: purple;
	float: right;
}
.selection{
	display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin bottom: 15px;
}
.Pepper{
	margin: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center
	vertical align-content
	padding:20px;
}
.Mikan{
	margin: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.Beau{
	margin-bottom: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.button{
    margin: 15px
}

img{
	width: 200px;

}
h4{
	color: blue;
	text-decoration: underline;
	font-family:'Montserrat', sans-serif;
}
   @media only screen and (max-width: 900px) {
    body {
        background-color: red; 
    }
    @media only screen and (max-width: 630px) {
    body {
        background-color: yellow;
    }
    @media only screen and (max-width: 450px) {
    body {
    	background: pink;
    }	
   /*.navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  } 
}

